* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation:  show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.navbar .logo{
    font-weight: 700;
    font-size: 30px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar ul li a:hover,
.navbar ul li a.active{
    color: rgb(44, 205, 16);
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 60px 9% 0;
    color: white;
    visibility: hidden;
    opacity: 0;
    animation:  show-content 1.5s linear forwards;
    animation-delay: 1.8s;
}
.home-content h1{
    font-size: 55px;
}
.home-content h2{
    display: inline-block;
    font-size: 32px;
    margin: 15px 0;
}
.home-content h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px rgb(44, 205, 16);
    animation: dispaly-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
@keyframes dispaly-text{
    25%,
    100%{
        display: none;
    }
}
.home-content h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid rgb(44, 205, 16);
    color: rgb(44, 205, 16);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,
    100%{
        width: 0;
    }
    70%,
    90%{
        width: 100%;
    }
}
.home-content p{
    margin: 30px 0 25px;
    font-size: 20px;
}
.home-content .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(44, 205, 16);
    border: 2px solid rgb(44, 205, 16);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(57, 201, 32);
    font-size: 16px;
    font-weight: 600;
    color: rgb(20, 20, 20);
    transform: .5s;
}
.btn:hover{
    background-color: transparent;
    color: rgb(44, 205, 16);
    box-shadow: none;
}
.home-content .btn-sci .sci{
    margin-left: 20px;
}
.home-content .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid rgb(44, 205, 16);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(44, 205, 16);
    margin: 0 8px;
}
.home-content .btn-sci .sci a:hover{
    background-color: rgb(44, 205, 16);
    color: white;
    box-shadow: 0 0 10px rgb(57, 201, 32);
}
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,rgb(57, 201, 32));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}
.home-img .img-box::after{
    animation-delay: -5s;
}
.home-img .img-box .img-item{
   position: relative;
    width: 100%;
    height: 100%;
    background: rgb(41, 38, 38);
    border-radius: 50%;
    border: .1px solid rgb(41, 38, 38);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
} 
.home-img .img-box .img-item img{
    width: 100%; 
    display: block; 
    position: absolute;
    object-fit: cover;
    mix-blend-mode: lighten;
    background-color: rgb(41, 38, 38);
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar{
    width: 100%;
    height: 100%;
    background-color: rgb(41, 38, 38);
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars{
    100%{
        transform: translateY(0%);
    }
}